* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    font-size: 30px;
    font-weight: 500;
    color: black !important;
}

@media (max-width:1200px) {

    label[for="nav"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: fixed;
        right: 5%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    label[for="nav"]>span {
        width: 100%;
        height: 5px;
        background-color: black;
    }

    .menubar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: red;
        position: fixed;
        top: 0;
        left: -100%;
        opacity: 1;
        pointer-events: none;
        transition: all 200ms linear;
    }
    .left{
        left: 0;
    }
}